* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #4d4d4d;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}




h1 {
    text-align: center;
    padding: 0.3em;
    font-size: 6.25rem;
    color: #af2f2f;
    font-weight: lighter;
}



.todos__wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    background: white;
    box-shadow: 0px 0px 16px -1px rgba(122,122,122,1);
    align-self: center;
    display: flex;
    flex-direction: column;
}

.todos__wrapper:before {
    position: absolute;
    z-index: -100;
    margin: auto;
    content: "";
    top: calc(100% - 6px);
    width: 94%;
    height: 20px;
    left: 3%;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 16px -1px rgba(122,122,122,1);
}
.todos__wrapper:after {
    position: absolute;
    z-index: -99;
    margin: auto;
    content: "";
    top: calc(100% - 13px);
    width: 97%;
    height: 20px;
    left: 1.5%;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 16px -1px rgba(122,122,122,1);
}


.todos__search {
    width: 100%;
    height: 60px;
    box-shadow: inset 0px 0px 6px -1px rgba(122,122,122,0.4);
    display: flex;
    flex-direction: row;
}

.todos__arrow {
    flex: 1;
    background: url(../img/arrow-round-down.png) center center no-repeat;
    opacity: 0.2;
    cursor: pointer;
    border: none;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
}

.todos__arrow.--active {
    transform: rotate(-180deg);
}

.todos__input {
    flex: 9;
    border: none;
    padding: 1em;
    font-size: 1em;
    background: transparent;
}






.todos__list {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
}

.todos__list--open {
    height: auto;
}

.todos__list li {
    display: flex;
    flex-direction: row;
    height: 60px;
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    flex: 1;
    background: url(../img/checkbox-empty.svg) center center no-repeat;
}

span {
    flex: 8;
    display: block;
    padding: 1.3em;
}

input[type="checkbox"]:checked + label {
    background: url(../img/checkbox-done.svg) center center no-repeat;
}

input[type="checkbox"]:checked + label + span {
    text-decoration: line-through;
}

.todos__close {
    border: none;
    flex: 1;
    background: url(../img/close.svg) center center no-repeat;
    transform: scale(0.3);
    cursor: pointer;
}



.todos__items {
    width: 100%;
    height: auto;
    padding: 1em;
    border-top: 1px solid #ededed;
}

.todos__items span {
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

.todos__items fieldset {
    border: 1px solid #e0e0e0;
    padding: 8px;
    display: flex;
    flex-direction: row;
}

.todos__items input[type="radio"] {
    margin: 5px;
    cursor: pointer;
}

.todos__items label {
    margin: 5px;
    background: none;
    cursor: default;
}